@import url('https://fonts.googleapis.com/css?family=Lato');


#view-saved{
  color:black;
  position:relative; 
}

#view-saved:hover {
  opacity: .7;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.navbar {
background-color: white;
border-bottom: rgb(202, 252, 20) 1px;
}

h1.text-center {
padding-top: 20px;
color: rgb(50, 163, 255);
font-family: 'Lato';
}